$white-color: #fff;
$black-color: #000;

$bg-color: #6e3d17;
$brown-text: #3d2312;
$block-color: #e9ba45;
$ivory: #efecb3;
$light-yellow: #e7e393;

$orange: #dd7230;
$light-color: #f4c95d;
$strong-color: #04030f;

$red-color: #9b0000;
